<!DOCTYPE html>
<html>
<head>
    <title>FutureInters_Task3 - Upload</title>
</head>
<body style="font-family: sans-serif; text-align: center; padding: 50px;">
    <h2>Secure File Upload</h2>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        
        <label>Select File:</label><br>
        <input type="file" name="file" required><br><br>

        <label>Set a Password (for encryption later):</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Secure Upload</button>
    </form>

    <br>
    <hr>

    <h2>Secure File Download</h2>
    <form action="/download" method="POST">
        <label>Filename to Decrypt (e.g., myphoto.jpg):</label><br>
        <input type="text" name="filename" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Decrypt & Download</button>
    </form>
</body>
</html>